:root {
  --text: #ededee;
  --background: #0b0b0e;
  --primary: #b0adcf;
  --secondary: #3a3575;
  --accent: #6c65ca;
}

.choice-container {
  display: flex;
  margin-bottom: 0.8rem;
  width: 100%;
  border-radius: 0.6rem;
  background-color: var(--secondary);
  font-size: 3rem;
  min-width: 80rem;
  align-items: center;
  transition: box-shadow 200ms ease-in-out, translate 200ms ease-in-out,
    background-color 200ms ease-in-out;
}

.choice-container:hover {
  cursor: pointer;
  background-color: var(--accent);
  box-shadow: 0.2rem 0.2rem var(--primary);
  translate: -0.2rem -0.2rem;
  transition: box-shadow 200ms ease-in-out, translate 200ms ease-in-out,
    background-color 200ms ease-in-out;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  font-weight: bold;
  color: var(--text);
}

.choice-text {
  padding: 1.5rem;
}

.correct {
  background: linear-gradient(45deg, #199827 0%, #023b17 100%);
}

.incorrect {
  background: linear-gradient(45deg, #c70000 0%, #5c0000 100%);
}

#game {
  margin: auto;
}

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#question {
  text-overflow: ellipsis;
  text-align: center;
  line-height: 1.5;
}

#progressBar {
  width: 20rem;
  height: 3rem;
  border: 0.01rem solid var(--text);
  margin-top: 2rem;
  border-radius: 0.8rem;
  overflow: hidden;
}

#progressBarFull {
  height: 100%;
  background: linear-gradient(45deg, #199827 0%, #023b17 100%);
  transition: width 1s ease-in-out;
  width: 0%;
}

@media screen and (max-width: 768px) {
  .choice-container {
    min-width: 30rem;
  }
}
